<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a routerLink="/scenarios">Cihazlar</a></li>
        <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Statistics</a></li> -->
    </ol>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Senaryolar</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>İsim</strong></th>
                                <th><strong>Tetikleyici</strong></th>
                                <th><strong>Aksiyon</strong></th>
                                <th><strong>Durum</strong></th>
                                <th><strong>Operasyonlar</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let scenario of scenarios; let i = index">
                                <td>
                                    <div class="d-flex align-items-center"><span
                                            class="w-space-no">{{scenario.scenarioName}}</span></div>
                                </td>
                                <td *ngIf="scenario.triggerInfo?.triggerType === 1">
                                    {{scenario.triggerInfo?.triggerSensorInfo?.sensorName}}</td>
                                <td *ngIf="scenario.triggerInfo?.triggerType === 0">{{scenario.triggerInfo?.triggerTime
                                    | date: 'HH:mm:ss'}}</td>
                                <td>{{scenario.triggerInfo?.actionInfo?.actionSensorInfo?.sensorName}}</td>
                                <td>
                                    <div *ngIf="scenario.isActive"
                                        (click)="updateIsActive(scenario.id!, scenario.isActive)"
                                        class="d-flex align-items-center"><i class="fa-regular fa-square-check"
                                            style="font-size: 20px; color: green; cursor: pointer;"></i></div>
                                    <div *ngIf="!scenario.isActive"
                                        (click)="updateIsActive(scenario.id!, scenario.isActive!)"
                                        class="d-flex align-items-center"><i class="fa-regular fa-square"
                                            style="font-size: 20px; color: red; cursor: pointer;"></i></div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <!-- <a routerLink="/scenario/{{scenario.id}}"
                                            class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                class="fas fa-pencil-alt"></i></a> -->
                                        <a (click)="deleteById(scenario.id!)"
                                            class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Senaryo Oluştur</h4>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    <form #scenarioCreateForm="ngForm" (ngSubmit)="create(scenarioCreateForm)" class="needs-validation" novalidate="">
                        <div class="row">

                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Senaryo İsmi
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="scenarioModel.scenarioName" type="text" class="form-control"
                                            id="scenarioName" name="scenarioName" placeholder="Senaryo ismi..."
                                            required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Senaryo Açıklaması
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="scenarioModel.scenarioDescription" type="text"
                                            class="form-control" id="scenarioDescription" name="scenarioDescription"
                                            placeholder="Senaryo açıklaması..." required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom03">Tetikleme Türü
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <div class="btn-group me-2 mb-2 btn-group-sm">
                                                <button *ngFor="let type of triggerTypes;"
                                                    (click)="setTriggerType(type.id)" type="button"
                                                    [ngClass]="{'btn-dark': type.id !== selectedTriggerType, 'btn-success': type.id === selectedTriggerType}"
                                                    class="btn">{{type.name}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedTriggerType === 0" class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom04">Tetikleme Saati<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="scenarioModel.triggerTime" type="time"
                                            class="form-control" id="scenarioDescription" name="scenarioDescription"
                                            placeholder="Tetikleme saati" required="">
                                    </div>
                                </div>
                                <div *ngIf="selectedTriggerType === 1" class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom04">Tetikleme Sensörü<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <button *ngFor="let sensor of allSensors" (click)="setTriggerSensorId(sensor.id!)" type="button"
                                        [ngClass]="{'btn-dark': sensor.id !== selectedTriggerSensorId, 'btn-success': sensor.id === selectedTriggerSensorId}" class="btn mt-2 me-2" type="button" style="max-width: 150px; max-height: 50px; font-size: 12px;">{{sensor.sensorName}}</button>
                                    </div>
                                </div>
                                <div *ngIf="selectedTriggerType === 1" class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom04">Sensör Değeri<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="scenarioModel.triggerValue" type="number"
                                            class="form-control" id="scenarioDescription" name="scenarioDescription"
                                            placeholder="Your valid email.." required="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Aksiyon Sensörü
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <button *ngFor="let sensor of actionSensors" (click)="setActionSensorId(sensor.id!)" type="button"
                                        [ngClass]="{'btn-dark': sensor.id !== selectedActionSensorId, 'btn-success': sensor.id === selectedActionSensorId}" class="btn mt-2 me-2" type="button" style="max-width: 150px; max-height: 50px; font-size: 12px;">{{sensor.sensorName}}</button>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom03">Aksiyon Türü
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="card-body">
                                            <div class="btn-group me-2 mb-2 btn-group-sm">
                                                <button *ngFor="let type of actionTypes;"
                                                    (click)="setActionType(type.id)" type="button"
                                                    [ngClass]="{'btn-dark': type.id !== selectedActionType, 'btn-success': type.id === selectedActionType}"
                                                    class="btn">{{type.name}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Aksiyon Değeri
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="scenarioModel.actionValue" type="number"
                                            class="form-control" id="scenarioDescription" name="scenarioDescription"
                                            placeholder="Aksiyon değeri giriniz..." required="">
                                    </div>
                                </div>

                                <!-- <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom05">Best Skill
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="default-select wide form-control" id="validationCustom05">
                                            <option data-display="Select">Please select</option>
                                            <option value="html">HTML</option>
                                            <option value="css">CSS</option>
                                            <option value="javascript">JavaScript</option>
                                            <option value="angular">Angular</option>
                                            <option value="angular">React</option>
                                            <option value="vuejs">Vue.js</option>
                                            <option value="ruby">Ruby</option>
                                            <option value="php">PHP</option>
                                            <option value="asp">ASP.NET</option>
                                            <option value="python">Python</option>
                                            <option value="mysql">MySQL</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a one.
                                        </div>
                                    </div>
                                </div> -->
                                <div class="mb-3 row">
                                    <div class="col-lg-8 ms-auto">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Mail Gönderme Ayarları</h4>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    <form #mailUpdateForm="ngForm" (ngSubmit)="updateMailSetting(mailUpdateForm)" class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="mailSettingModel.email" type="text" class="form-control"
                                            id="email" name="email" placeholder="Senaryo ismi..."
                                            required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Uygulama Şifresi
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="mailSettingModel.appPassword" type="password"
                                            class="form-control" id="appPassword" name="appPassword"
                                            placeholder="Senaryo açıklaması..." required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Smtp Domain
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="mailSettingModel.smtpDomainName" type="text" class="form-control"
                                            id="smtpDomainName" name="smtpDomainName" placeholder="Senaryo ismi..."
                                            required="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">Smtp Portu
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="mailSettingModel.smtpPort" type="number"
                                            class="form-control" id="smtpPort" name="smtpPort"
                                            placeholder="Senaryo açıklaması..." required="">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-lg-8 ms-auto">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>